<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.carrolltech.athena">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <queries>
        <intent>
            <action android:name="action.athena.skill.INITIALIZE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE"/>
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Athena">
        <activity android:name=".ui.SettingsActivity"/>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Athena.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.ASSIST" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".processor.ProcessorService"
            android:process=":ProcessorCentralService">
        </service>
        <service
            android:name=".processor.ProcessorTrainingService"
            android:process=":ProcessorTrainingService">
        </service>
        <service
            android:name=".processor.ProcessorEntityTrainingService"
            android:process=":ProcessorEntityTrainingService">
        </service>
        <service
            android:name=".core.CoreService">
        </service>
        <service
            android:name=".stt.AthenaVoiceInteractionService"
            android:exported="true"
            android:permission="android.permission.BIND_VOICE_INTERACTION">
            <meta-data
                android:name="android.voice_interaction"
                android:resource="@xml/interaction_service">
            </meta-data>

            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService" />
            </intent-filter>
        </service>
        <service
            android:name=".stt.AthenaVoiceInteractionSessionService"
            android:permission="android.permission.BIND_VOICE_INTERACTION"
            android:process=":SessionService">
        </service>
        <service android:name=".stt.AthenaRecognitionService">
            <meta-data
                android:name="android.speech"
                android:resource="@xml/recognition_service">
            </meta-data>
            <intent-filter>
                <action android:name="android.speech.RecognitionService"/>
            </intent-filter>
        </service>
        <service android:name=".tts.SimpleTensorflowEngine"
            android:exported="true"
            android:process=".tts">
        </service>
    </application>
</manifest>