<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="garden.hikari.spellbook">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Athena">
        <activity
            android:name="ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name="ui.SimpleForegroundService"
            android:foregroundServiceType="microphone"
            android:exported="true">
        </service>
        <service
            android:name="com.example.spellbook.daemon.SimpleCommandProcessor"
            android:exported="true">
        </service>
        <service
            android:name="accessibility.stt.SimpleAudioProcessor"
            android:exported="true">
        </service>
    </application>

</manifest>