<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.carrolltech.athenaalarmskill"
    android:versionCode="1"
    android:versionName="0.0.1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Athena">
        <service
            android:name=".AlarmService"
            android:exported="true">
            <intent-filter>
                <action android:name="action.athena.skill.INITIALIZE"/>
            </intent-filter>
        </service>
    </application>

</manifest>